
  .btn-add{
    margin-top: 40px;
  }
 .button-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 145px;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, #00ff00, #008000) !important; 
    color: white;
    margin-top: 40px;
    font-size: 20px;

 }